
    table

{
    border: 2px solid #861657;
}

ul {
    width: 185px;
}

li:nth-child(2n) {
    background-color: mediumaquamarine;
    color: #861657;
}

li:nth-child(2n+1) {
    background-color: aquamarine;
}

li:nth-child(1) {
    background-color: aquamarine;
}

