{% extends "main/wrapper.html" %}

{% block content %}
    {% if name == "737" %}
        <div class="row" style="margin-top: 50px">
        <div class="col-md-1"></div>
        <div class="col-md-8" style="background-color: white; color: black">
            Тип: Boeing 737 <br><br>
            Начало производства: 1967 <br><br>
            Описание:  узкофюзеляжный ближне-среднемагистральный пассажирский самолёт. Boeing 737 является самым массовым пассажирским самолётом за всю историю пассажирского авиастроения (13 марта 2018 года был поставлен десятитысячный самолёт, более 4500 заказов ожидают исполнения[2]). Самолёт производится корпорацией Boeing с 1967 года. Boeing 737 эксплуатируется настолько широко, что в любой момент времени в воздухе находится в среднем 1200 самолётов и каждые 5 секунд в мире взлетает и садится один 737-й[3]. Фактически, Boeing 737 — общее название семейства из более чем десяти моделей воздушных судов.
        </div>

        </div>
    {% endif %}


    {% if name == "757" %}
        <div class="row" style="margin-top: 50px">
        <div class="col-md-1"></div>
        <div class="col-md-8" style="background-color: white; color: black">
            Тип: Boeing 757 <br><br>
            Начало производства: 1980 <br><br>
            Описание:  узкофюзеляжный ближне-среднемагистральный пассажирский самолёт. Boeing 757 является самым массовым пассажирским самолётом за всю историю пассажирского авиастроения (13 марта 2018 года был поставлен десятитысячный самолёт, более 4500 заказов ожидают исполнения[2]). Самолёт производится корпорацией Boeing с 1967 года. Boeing 737 эксплуатируется настолько широко, что в любой момент времени в воздухе находится в среднем 1200 самолётов и каждые 5 секунд в мире взлетает и садится один 737-й[3]. Фактически, Boeing 737 — общее название семейства из более чем десяти моделей воздушных судов.
        </div>
        </div>
    {% endif %}
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary text-center" href="http://127.0.0.1:8000/" role="button" style="margin-top: 30px; background-color: aquamarine; border-color: aliceblue">Назад</a>
    </div>
{% endblock %}